---
# FIXME: readability-identifier-length: probably turn on later
# FIXME: readability-magic-number: find out how to disable this
#                                  check for special targets (like math libraries)
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -bugprone-reserved-identifier,-cert-dcl37-c,-cert-dcl51-cpp,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: false
  - key: readability-function-cognitive-complexity.Threshold
    value: 100 # FIXME: Lower this to 50 or even 30